gclib[speedups] @ git+https://github.com/LagoLunatic/gclib.git@abae309e05a8de4c2642e903611e65b4b124e1ce
disc-riider-py==0.3.1
wiithon @ git+https://github.com/Demorck/wiithon.git@f04826fe14f1815f9ce164f5b8b7798ec77124b9
